/* CUSTOM PROPERTIES */
:root{
  --primary-color:  hsl(22, 89%, 52%);
  --primary-color-dim: hsl(22, 100%, 69%);
  --black: hsl(220, 50%, 17%);
  --grey: hsl(198, 28%, 93%);
  --dark-grey: hsl(221, 23%, 58%);
  --white: hsl(0, 0%, 100%);
}

/* ** GLOBAL STYLES ** */
html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
h1, h2, h3{
  margin: 0;
}
ul {
  list-style: none;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: 'Barlow', Arial, sans-serif;
  letter-spacing: 0;
  background-color: #fff;
  color: var(--dark-grey);
}
img
{
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* BUTTON */
.btn{
  padding: 16px 27px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  text-align: center;
  border-radius: 8px;
  transition: 0.4s ease;
  font-weight: 700;
}
.btn:active{
  opacity: 0.6;
}
.btn-primary{
  color: var(--white);
  background-color: var(--primary-color);
}
.btn-primary:hover{
  background-color: var(--primary-color-dim);
}
.btn-grey{
  color: var(--black);
  background-color: var(--grey);
}
.btn-grey:hover{
  color: var(--white);
  background-color: var(--black);
}

/* LOGO  */
.logo:hover {
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: flex;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* border: 3px solid red; */
}

/* = HEADER = */
.site-header {
  padding-top: 55px;
  padding-bottom: 55px;
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo {
  margin-right: 24px;
}
/* =| HERO |= */
.hero {
  padding-top: 28px;
  padding-bottom: 40px;
}
/* hero-top */
.hero__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hero__top-content {
  max-width: 445px;
  width: 100%;
  padding-top: 60px;
  margin-right: 24px;
}
.hero__top-title {
  color: var(--black);
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero__top-text {
  font-size: 18px;
  margin-bottom: 40px;
}
.hero__top-content span{
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}
.hero__top-img {
  width: 540px;
  height: 480px;
  border-radius: 22px;
}
/* hero-bottom */
.hero__bottom {
  display: flex;
  flex-wrap: wrap;
}
.hero__bottom-img {
  width: 255px;
  height: 480px;
  margin-right: 30px;
  border-radius: 22px;
}
.hero__bottom-img--second {
  width: 445px;
  height: 480px;
  margin-right: auto;
  border-radius: 22px;
}
.hero__bottom-content {
  width: 255px;
  padding-top: 112px;
}
.hero__bottom-title {
  color: var(--black);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 27px;
}



/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}